body {
    background: url(https://previews.123rf.com/images/ookasan/ookasan1612/ookasan161200108/67530209-grunge-white-wood-texture-of-wooden-boards-floor.jpg);
}

.maindiv {
    width: 100%;
    border-bottom: 2px solid rgb(203, 203, 203);
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.header {
    height: 100%;
    width: 250px;
    background-color: #4aaaa5;
    color: white;

    font-size: 35px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.header h1 {
    margin-top: 25px;
    margin-left: 40px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(150, 150, 150);
}

.navbar ul {
    display: flex;
}

.aboutli {
    margin-right: 15px;
}

.portfolioli {
    margin-right: 15px;
    margin-left: 15px;
}

.contactli {
    margin-left: 15px;
}

/*-----------*/
.img1 {
    width: 270px;
    height: 60px;
    background-color: #4aaaa5;
    position: absolute;
    top: 390px;
    left: 264px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.img2 {
    width: 270px;
    height: 60px;
    background-color: #4aaaa5;
    position: absolute;
    top: 390px;
    left: 597px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.img3 {
    width: 270px;
    height: 60px;
    background-color: #4aaaa5;
    position: absolute;
    top: 640px;
    left: 264px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.img4 {
    width: 270px;
    height: 60px;
    background-color: #4aaaa5;
    position: absolute;
    top: 640px;
    left: 597px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.img5 {
    width: 270px;
    height: 60px;
    background-color: #4aaaa5;
    position: absolute;
    top: 890px;
    left: 264px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

section {
    width: 100%;
    height: 1100px;
    display: flex;
    margin-top: 100px;
}

.left-side {
    width: 63%;
    height: 1000px;
}

.right-side {
    width: 37%;
    height: 1000px;
}

.left-board {
    border: 0.5px solid rgb(200, 200, 200);
    width: 650px;
    height: 900px;
    margin-left: 240px;
    margin-top: 40px;
    background-color: white;

}

.right-board {
    width: 260px;
    height: 190px;
    margin-top: 40px;
    margin-left: 23px;
    background-color: white;
    border: 0.5px solid rgb(210, 210, 210);
}

.right-top {
    color: #4aaaa5;
    font-size: 25px;
    padding: 20px;
    margin-left: 15px;
}

.right-top hr {
    border: 1px solid rgb(224, 224, 224);
    margin-right: 10px;
    margin-top: 20px;
}

.right-bottom {
    width: 200px;
    height: 60px;
    margin-left: 27px;
}

.right-bottom ul {
    display: flex;
}

.github {
    margin-right: 5px;
    margin-left: 5px;
}

.linkedin {
    margin-right: 5px;
}

.left-top {
    width: 100%;
    height: 80px;
    color: #4aaaa5;
    font-size: 30px;
}

.left-top h3 {
    margin-top: 30px;
    margin-left: 30px;
}

.left-top hr {
    border: 1.5px solid rgb(197, 197, 197);
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.left-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.left-bottom img {
    margin-left: 23px;
    margin-top: 20px;
}

.foot {
    width: 100%;
    height: 100px;
    background-color: rgb(103, 103, 103);
    border-top: 8px solid #4aaaa5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(202, 202, 202);
    font-size: 13px;
}